<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    @for (invoiceItem of formArray.controls; track $index) {
      <ng-container [formGroup]="invoiceItem">
        <tr>
          <td>
            <app-input formControlName="name" placeholder="Enter Item Name" />
          </td>
          <td>
            <app-input
              formControlName="quantity"
              type="number"
              placeholder="Enter Item Name"
            />
          </td>
          <td>
            <app-input
              formControlName="rate"
              type="number"
              icon="icon icon-chevron"
              placeholder="Enter Rate"
            />
          </td>
          <td>
            <app-input
              formControlName="total"
              type="number"
              placeholder="Auto Calculate"
              [disabled]="true"
            />
          </td>
        </tr>
      </ng-container>
    }
  </tbody>
</table>
