@import 'mixin';

:host {
  width: 100%;
  max-width: 555px;
}

.header {
  @include authorization-header;
  padding-bottom: 25px;
}

.form {
  @include authorization-form;
  padding-bottom: 25px;
}

.footer {
  @include authorization-footer;
}
