<div class="sender">
  <div class="sender__general general">
    <div class="general__logo">
      <div class="general__logo-icon icon icon-logo"></div>
    </div>
    <div class="general__text">
      <h4 class="general__text-title">Maglo</h4>
      <span class="general__text-email">{{ 'sales@maglo.com' }}</span>
    </div>
  </div>
  <div class="sender__address address">
    <div class="address__street">
      <span class="address__street-name">1333 Grey Fox Farm Road</span>
    </div>
    <div class="address__state">
      <span class="address__state-name">Houston, TX 77060</span>
    </div>
  </div>
</div>
