<button
  data-testingId="button"
  class="button"
  [type]="type()"
  [disabled]="disabled() || loading()"
  [attr.data-size]="size()"
  [attr.data-style]="style()"
  [attr.data-severity]="severity()"
  [attr.data-bordered]="outlined()"
  (click)="onClick($event)"
>
  @if (icon()) {
    <span data-testingId="icon" class="button__icon icon" [ngClass]="icon()">
      <span class="path1"></span>
      <span class="path2"></span>
      <span class="path3"></span>
      <span class="path4"></span>
    </span>
  }

  @if (style() !== ButtonStyle.Icon) {
    <span data-testingId="content" class="button__content">
      <ng-content />
    </span>
  }

  @if (loading()) {
    <span data-testingId="loader" class="button__loading">
      <app-spinner [size]="SpinnerSize.Small" />
    </span>
  }
</button>
