@use 'mixin' as mixin;

.header {
  display: flex;
  gap: 20px;

  &__search {
    flex: 1;
  }

  &__actions {
    display: flex;
    gap: 12px;
  }
}

.content__table {
  margin-top: 25px !important;
  padding-top: 10px !important;
  border-top: 1px solid var(--table-body-line) !important;

  @include mixin.table;
  @include mixin.scrollbar;
}
