<div class="container">
  <div class="header">
    <div class="header__search">
      <app-input placeholder="Search Transactions" icon="icon icon-search" />
    </div>

    <div class="header__actions">
      <app-button
        icon="icon-upload"
        tooltip="Will Be Able Soon"
        [disabled]="true"
        [severity]="ButtonSeverity.Secondary"
      >
        Upload Transactions
      </app-button>

      <app-button icon="icon-plus" [severity]="ButtonSeverity.Primary">
        Add Transaction
      </app-button>
    </div>
  </div>

  <div class="content">
    <div class="content__table">
      <table>
        <thead>
          <tr>
            <th>Name/Business</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Invoice Id</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (transaction of transactions; track transaction.id) {
            <tr class="content__table-row">
              <td>
                <app-transaction-product
                  [name]="transaction.product.name"
                  [category]="transaction.product.category"
                  [imageSrc]="transaction.product.image"
                />
              </td>
              <td class="secondary">{{ transaction.product.category }}</td>
              <td>
                {{
                  transaction.countProducts * transaction.product.price
                    | currency
                }}
              </td>
              <td><app-transaction-date [date]="transaction.date" /></td>
              <td class="secondary">{{ transaction.id }}</td>
              <td>
                <app-button
                  icon="icon-eye"
                  [style]="ButtonStyle.Icon"
                  [severity]="ButtonSeverity.Secondary"
                  (buttonClick)="onViewTransactionClick(transaction.id)"
                />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
