<label class="label">
  @if (label) {
    <span class="label__name">{{ label }}</span>
  }

  <span class="label__input">
    <input
      class="label__input_control"
      [type]="isVisible ? 'text' : 'password'"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      (blur)="onBlur()"
    />

    <app-button
      class="label__input_toggle-visible"
      [icon]="['icon', isVisible ? 'icon-eye-off' : 'icon-eye']"
      [type]="ButtonType.Button"
      [style]="ButtonStyle.Icon"
      [severity]="ButtonSeverity.Secondary"
      (click)="toggleVisible($event)"
    />
  </span>
</label>
