<div class="container">
  <div class="sidebar">
    <a class="sidebar__logo" routerLink="dashboard">
      <i class="sidebar__logo_icon icon icon-logo"></i>
      <span class="sidebar__logo_name">Maglo.</span>
    </a>
    <div class="menus">
      <div class="menu menu--top">
        <app-vertical-tabs [tabs]="TOP_SIDEBAR" />
      </div>
      <div class="menu menu--bottom">
        <app-vertical-tabs [tabs]="BOTTOM_SIDEBAR" />
      </div>
    </div>
  </div>
  <div class="content">
    <header class="content__header header">
      <div class="header__page">
        <h2 class="header__page_title">{{ activeRouterTitle }}</h2>
      </div>
      <div class="header__user">
        <div class="header__user_notifications">
          <app-button
            icon="icon icon-notification-bing"
            [outlined]="true"
            [style]="ButtonStyle.Icon"
            [size]="ButtonSize.Small"
            [severity]="ButtonSeverity.Secondary"
          />
        </div>
        <div class="header__user_profile">
          <app-profile />
        </div>
      </div>
    </header>

    <main class="content__main main">
      <router-outlet />
    </main>
  </div>
</div>
