<div class="header">
  <h2 class="header__title">Welcome back</h2>
  <p class="header__subtitle">Welcome back! Please enter your details</p>
</div>
<form [formGroup]="signInForm" class="form">
  <div class="form__content">
    <app-input
      label="Email"
      placeholder="example@gmail.com"
      [control]="signInForm.get('email')"
    />

    <app-password-input
      label="Password"
      placeholder="••••••••"
      [control]="signInForm.get('password')"
    />
  </div>

  <div class="form__options">
    <div class="form__options_remember">
      <app-checkbox
        [label]="'Remember for 30 Days'"
        [control]="signInForm.get('short_remember')"
      />
    </div>
    <a routerLink="/authorization/forgot-password" class="form__options_link">
      Forgot password
    </a>
  </div>

  <div class="form__actions">
    <app-button [severity]="ButtonSeverity.Primary" [size]="ButtonSize.Wide">
      Sign in
    </app-button>
    <app-button
      [icon]="'icon-google'"
      [outlined]="true"
      [severity]="ButtonSeverity.Secondary"
      [size]="ButtonSize.Wide"
    >
      Sign In with google
    </app-button>
  </div>
</form>
<div class="footer">
  <span class="footer__question">Already have an account?</span>
  <a class="footer__link" routerLink="/authorization/sign-up">
    Sign up for free
  </a>
</div>
