:host {
  display: inline-block;
}

:host ::ng-deep .label__dropdown .p-dropdown {
  min-width: 221px;
  background-color: var(--card-bg);
  border: var(--input-border);
}

.label {
  display: inline-block;

  &__name {
    display: block;
    padding-bottom: 10px;
  }
}
