<div class="container">
  <div class="content">
    <div class="content__general">
      <div class="content__general_statistic-cards">
        <app-dashboard-statistic-card
          icon="icon icon-wallet"
          label="Total balance"
          value="$5240.21"
        />
        <app-dashboard-statistic-card
          icon="icon icon-wallet"
          label="Total spending"
          value="$250.80"
        />
        <app-dashboard-statistic-card
          icon="icon icon-wallet-add"
          label="Total saved"
          value="$40.21"
        />
      </div>

      <div class="content__general_working-capital">
        <app-dashboard-working-capital />
      </div>

      <div class="content__general_recent-transactions">
        <app-dashboard-recent-transactions />
      </div>
    </div>

    <div class="content__wallets">
      <div class="content__wallets_info">
        <app-dashboard-wallets />
      </div>

      <div class="content__wallets_scheduled-transfers">
        <app-dashboard-scheduled-transfers />
      </div>
    </div>
  </div>
</div>
