.content {
  display: flex;
  align-items: flex-start;
  gap: 24px;

  &__general {
    flex: 1 1 66%;

    &_statistic-cards {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 24px;

      padding-bottom: 24px;
    }

    &_working-capital {
      padding-bottom: 24px;
    }
  }

  &__wallets {
    flex: 1 1 34%;

    &_info {
      padding-bottom: 24px;
    }
  }
}
