<div class="content">
  <header class="header">
    <div class="header__logo">
      <i class="header__logo_icon icon icon-logo"></i>
      <span class="header__logo_name">Maglo.</span>
    </div>

    <div class="header__theme-switcher">
      <app-button
        icon="icon icon-theme-toggle"
        [outlined]="true"
        [style]="ButtonStyle.Icon"
        [size]="ButtonSize.Small"
        [severity]="ButtonSeverity.Secondary"
        (buttonClick)="onThemeChange()"
      />
    </div>
  </header>
  <main class="main">
    <router-outlet />
  </main>
</div>
<div class="banner">
  <img
    class="banner__image"
    src="../../../../../assets/images/authorization/banner.png"
    alt="Authorization Banner"
  />
</div>
