:host .label {
  &__name {
    display: block;
    padding-bottom: 10px;
    color: var(--text-1);
  }

  &__control_input {
    ::ng-deep .p-password,
    ::ng-deep .p-password-input {
      width: 100%;
    }

    ::ng-deep .p-password-input {
      color: var(--text-1);
      border: var(--input-border);
      background-color: transparent;
      padding-right: 35px;
    }
  }
}
