<div class="container">
  <h2>Buttons</h2>
  <app-button [tooltip]="'Tooltip'">Button</app-button>
  <app-button [loading]="true">Button Loading</app-button>
  <app-button [size]="ButtonSize.Small">Button Small</app-button>
  <app-button [size]="ButtonSize.Medium">Button Medium</app-button>
  <app-button [size]="ButtonSize.Large">Button Large</app-button>
  <app-button [size]="ButtonSize.Wide">Button Wide</app-button>

  <app-button [severity]="ButtonSeverity.Primary">Button Primary</app-button>
  <app-button [severity]="ButtonSeverity.Secondary">
    Button Secondary
  </app-button>

  <app-button [severity]="ButtonSeverity.Success">Button Success</app-button>

  <app-button
    [icon]="'icon-search'"
    [outlined]="true"
    [severity]="ButtonSeverity.Secondary"
  >
    Button Secondary outlined
  </app-button>

  <br />

  <h2>Tags</h2>

  <app-tag [severity]="TagSeverity.Warning">Pending</app-tag>
  <app-tag [severity]="TagSeverity.Success">Paid</app-tag>
  <app-tag [severity]="TagSeverity.Danger">Unpaid</app-tag>

  <br />

  <h2>Spinner</h2>
  <app-spinner />

  <br />

  <h2>Dropdown</h2>
  <app-dropdown
    label="test"
    [loading]="true"
    [control]="control"
    [options]="[]"
  />

  <app-dropdown label="test" [control]="control" [options]="[]" />

  <br />

  <h2>Inputs</h2>
  <app-input [control]="control" />

  <app-input [control]="control" label="Test" />
  <app-input
    [control]="control"
    label="Test 2"
    placeholder="Test placeholder"
  />

  <app-input
    [disabled]="true"
    [control]="control"
    [icon]="'icon-search'"
    label="Test 3"
    placeholder="Test placeholder"
  />

  <app-input
    [disabled]="true"
    [control]="control"
    [iconPosition]="InputIconPosition.Right"
    [icon]="'icon-search'"
    label="Test 4"
    placeholder="Test placeholder"
  />
</div>
