:host {
  display: flex;
}

.skeleton {
  display: inline-block;
  position: relative;
  background-color: #292745;
  overflow: hidden;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    height: 200%;

    transform: translateY(-50%) rotate(15deg);
    box-shadow: 5px 5px 20px 7px #433e73;
    animation: 3s infinite ease-in-out skeleton-loader;
  }
}

@keyframes skeleton-loader {
  from {
    left: -50%;
  }

  to {
    left: calc(100% + 50%);
  }
}
