@let selectedOption = options()[selectedOptionIndex()];
@let selectedOptionLabel = selectedOption && selectedOption[optionLabelName()];

@let dropdownButtonWidth = button.offsetWidth;

<div class="dropdown">
  <!-- DropDown Button -->
  <button
    #button
    class="dropdown__button"
    [disabled]="isDisabled()"
    [cdkMenuTriggerFor]="menu"
  >
    <span
      class="dropdown__button_name"
      [class.placeholder]="!selectedOptionLabel"
    >
      {{ selectedOptionLabel || placeholder() }}
    </span>

    <i class="dropdown__button_icon icon icon-chevron"></i>
  </button>

  <!-- DropDown Options -->
  <ng-template #menu>
    <div
      cdkMenu
      class="dropdown__options"
      [style.min-width.px]="dropdownButtonWidth"
    >
      @for (option of options(); track $index) {
        @let isActive = selectedOptionIndex() === $index;

        <li
          cdkMenuItem
          class="dropdown__options_item option"
          [class.active]="isActive"
          (click)="onSelectOption($index)"
        >
          <button>
            <span class="option__checkbox_content">
              @if (isActive) {
                <i class="icon icon-done"></i>
              }
            </span>
          </button>
          {{ option[optionLabelName()] }}
        </li>
      } @empty {
        <li class="dropdown__options_item empty">{{ empty() }}</li>
      }
    </div>
  </ng-template>
</div>
