@use 'mixin' as mixins;

:host {
  display: block;
  width: 125px;

  --options-height: 200px;
}

:host:has(.dropdown[data-size='wide']) {
  width: 100%;
}

.dropdown {
  width: inherit;

  &__button {
    @include mixins.dropdown-button;
  }

  &__options {
    width: 100%;

    &-list {
      display: flex;
      flex-direction: column;
      width: 100%;

      height: fit-content;
      min-height: 0;
      max-height: 200px;
      overflow: auto;

      .option {
        @include mixins.dropdown-option;
      }

      .empty {
        font-size: 14px;
        font-weight: 400;
        color: var(--dropdown-text);
      }
    }
  }
}

// Styles
[data-style='primary'] .dropdown {
  &__button,
  &__options-list {
    border: 1px solid #ededed;
    background-color: var(--dropdown-bg);
  }

  &__options-list {
    @include mixins.scrollbar;
  }
}

[data-style='secondary'] .dropdown {
  &__button,
  &__options-list {
    background-color: var(--dropdown-bg);
  }

  &__options-list {
    @include mixins.scrollbar;
  }
}

// Sizes
[data-size='small'] .dropdown {
  &__button,
  &__options-list_item {
    padding: 6px 10px;
  }

  &__button,
  &__options-list {
    border-radius: 4px;
  }
}

[data-size='medium'] .dropdown {
  &__button,
  &__options-list_item {
    padding: 16px 24px;
  }

  &__button,
  &__options-list {
    border-radius: 8px;
  }
}

[data-size='wide'] .dropdown {
  &__button,
  &__options-list_item {
    padding: 16px 24px;
  }

  &__button,
  &__options-list {
    border-radius: 8px;
  }
}
