@use 'mixin' as mixin;

.container {
  @include mixin.card;
}

.content__table {
  @include mixin.table;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;

  &__title {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
  }
}
