<div class="container">
  <div class="header">
    <h3 class="header__title">Recent Transaction</h3>

    <a [routerLink]="[]" class="header__view-all">
      <span class="header__view-all_text">View All</span>
      <span class="icon icon-chevron"></span>
    </a>
  </div>

  <div class="content">
    <div class="content__table">
      <table>
        <thead>
          <tr>
            <th>Name/Business</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-transaction-product />
            </td>
            <td>Mobile</td>
            <td>$420.84</td>
            <td>14 Apr 2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
