@use 'mixin' as mixins;

.container {
  @include mixins.card;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

.content__table {
  @include mixins.table;

  table tbody td {
    padding: 8px 0;

    &.value {
      text-align: right;
    }
  }
}
