<div class="container">
  <div class="header">
    <h3 class="header__title">Scheduled Transfers</h3>

    <app-link [link]="[]">View All</app-link>
  </div>

  <div class="content">
    <div class="content__table">
      <table>
        <tbody>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
          <tr>
            <td><app-transaction-product /></td>
            <td class="value">{{ -435 | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
