@layer primeng-custom {
  p-button .p-button {
    &-primary {
      color: var(--primary-button-text);
      background: var(--primary-button-bg);
      border: 1px solid var(--primary-button-bg);

      &:hover {
        background: var(--primary-button-hover);
      }
    }

    &-success {
      color: var(--success-button-text);
      background: var(--success-button-bg);
      border: 1px solid var(--success-button-bg);

      &:hover {
        background: var(--success-button-hover);
      }
    }
  }

  p-tag .p-tag {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;

    padding: 8px 15px;
    border-radius: 4px;

    &-warning {
      color: var(--warning-tag-text);
      background: var(--warning-tag-bg);
    }
    &-success {
      color: var(--success-tag-text);
      background: var(--success-tag-bg);
    }
    &-danger {
      color: var(--danger-tag-text);
      background: var(--danger-tag-bg);
    }
  }

  .p-input-icon-left > i,
  .p-input-icon-left > .p-icon-wrapper,
  .p-input-icon-right > i,
  .p-input-icon-right > .p-icon-wrapper {
    top: 50%;
    transform: translateY(-50%);
  }

  .p-checkbox .p-checkbox-box {
    background: transparent;
    border-radius: 3px;
    border: var(--input-border);

    .p-checkbox-icon {
      color: var(--text-1);
    }
  }

  .p-inputtext {
    padding: 15px 20px;
  }
}
