.label {
  &__name {
    display: block;
    padding-bottom: 10px;
    color: var(--text-1);
  }

  &__input {
    position: relative;

    .icon--left &_icon {
      left: 15px;
    }

    .icon--left &_control {
      padding: 15px 15px 15px 55px;
    }

    .icon--right &_icon {
      right: 15px;
    }

    .icon--right &_control {
      padding: 15px 55px 15px 15px;
    }

    &_toggle-visible {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    &_icon {
      position: absolute;
      font-size: 24px;
      line-height: 1.2em;
      top: 50%;
      transform: translateY(-50%);

      &--password {
        right: 15px;
      }
    }

    &_control {
      display: block;
      font-family: 'Kumbh Sans', sans-serif;
      font-size: 14px;
      line-height: 1.2em;
      color: var(--text-1);

      width: 100%;
      padding: 15px 20px;

      border: var(--control-border);
      border-radius: 10px;
      background-color: transparent;

      &:focus {
        outline: none;
        border: 1px solid var(--primary);
        box-shadow: 0 0 4px var(--primary);
      }

      &:focus-visible {
        outline: 1px solid var(--primary);
      }

      &::placeholder {
        color: var(--control-placeholder-text);
      }

      &:-webkit-autofill {
        -webkit-text-fill-color: var(--text-1) !important;
        -webkit-box-shadow: 0 0 0 1000px var(--control-bg) inset !important;
      }
    }
  }
}
