<div class="container">
  <form [formGroup]="invoiceForm" class="form">
    <div class="form__invoice-items">
      <table class="table">
        <thead>
          <tr>
            <th class="table__header_item">Item</th>
            <th class="centered">Quantity</th>
            <th class="centered">Rate</th>
            <th class="centered">Amount</th>
          </tr>
        </thead>

        <tbody>
          @for (invoiceItem of invoiceItems.controls; track $index) {
            <ng-container [formGroup]="invoiceItem">
              <tr>
                <td>
                  <app-input
                    formControlName="name"
                    placeholder="Enter Item Name"
                  />
                </td>
                <td>
                  <app-input
                    formControlName="quantity"
                    type="number"
                    placeholder="Enter Item Name"
                    [textPosition]="InputTextPosition.Center"
                  />
                </td>
                <td>
                  <app-input
                    formControlName="rate"
                    type="number"
                    placeholder="Enter Rate"
                    [textPosition]="InputTextPosition.Center"
                  />
                </td>
                <td>
                  <app-input
                    formControlName="total"
                    type="number"
                    placeholder="Auto Calculate"
                    [textPosition]="InputTextPosition.Center"
                  />
                </td>
              </tr>
            </ng-container>
          }
        </tbody>
      </table>
    </div>

    {{ invoiceForm.getRawValue() | json }}

    <button (click)="addInvoiceItem()">asdsad</button>

    <app-invoices-client-card />
  </form>
</div>
