@use 'mixin' as mixin;

.container {
  @include mixin.card;
}

.legends {
  display: flex;
  align-items: center;
  gap: 20px;
}

.legend {
  display: flex;
  align-items: center;
  gap: 8px;

  &__color {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 12px;

  padding-bottom: 12px;

  &__title {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
