<div class="container">
  <div class="header">
    <h3 class="header__title">Working Capital</h3>

    <ul class="header__legends legends">
      @for (legend of legends(); track $index) {
        <li class="legends__item legend">
          <span
            class="legend__color"
            [ngStyle]="{ backgroundColor: legend.color }"
          ></span>
          <div class="legend__label">{{ legend.label }}</div>
        </li>
      }
    </ul>

    <form [formGroup]="filterForm" class="header__form">
      <app-dropdown
        formControlName="card"
        placeholder="Select Card"
        queryControl="working_capital_card"
        [queryEmitEvent]="false"
        [loading]="isWorkingCapitalLoading()"
        [options]="cards()"
      />

      <app-dropdown
        formControlName="range"
        queryControl="working_capital_range"
        [queryEmitEvent]="false"
        [options]="TIME_RANGE"
      />
    </form>
  </div>
  <div
    class="content"
    *skeleton="isWorkingCapitalLoading(); width: '100%'; height: '245px'"
  >
    <app-dashboard-working-capital-chart [(legends)]="legends" />
  </div>
</div>
